---

title: AMILVASISHTHA
js: main

---

<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

        <div id='sticky-wrap'>

            
            <div id='landing-div'>
                <img id='landing-image' width='100%' src='media/amil-background.png'/>
                {% include header.html %}
                <div class='landing-area'>
                    <a href='#landHere'>
                        <div class='col-md-2'>
                            <div class='thumbnail'>
                                <a class='darken' href='/amilvasishtha'>
                                    <img class='profilepic' src='media/amil.jpg'>
                                </a>
                            </div>
                        </div>
                        <img id='arrow' width='10%' src='media/arrow.png'/>
                    </a>
                </div>
            </div>


            <div id='sticky-body-home'>
              <section id='section2'>
                <h2 id='landHere' class='titles'> &lt; A M I L  V A S I S H T H A &gt; </h2>
                <div id='profile-gallery' class='row'>
                    <div class='col-md-2'>
                        <div class='thumbnail'>
                            <a class='darken' href='/amilvasishtha'>
                                <img class='profilepic' src='media/amil.jpg'>
                            </a>
                        </div>
                    </div>
 
                </div>
                <div class='row'>
                    <div class='col-md-12'>
                        <p id='intro'>A group of aspiring developers based in London, honing our skills with <a href='http://foundersandcoders.org'>Founders &amp; Coders</a></p>
                    </div>
                </div>
              </section>

              <section id='section3'>
                <div id='project-gallery' class='text'>
                    <div class='container'>
                        <h2 class='titles'> &lt; M Y  P R O J E C T S &gt; </h2>
                        <div class='row'>
                            <div class='col-md-3'>
                                <div class='thumbnail'>
                                    <a href='/week1'>
                                        <img src='media/1.png'>
                                    </a>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class='thumbnail'>
                                    <a href='/week2'>
                                        <img src='media/guardian.jpg'>
                                    </a>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class='thumbnail'>
                                    <a href='/projects/watchthisspace'>
                                        <img src='media/twitter.jpg'>
                                    </a>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class='thumbnail'>
                                    <a href='http://instagramapi.herokuapp.com'>
                                        <img src='media/insta.jpg'>
                                    </a>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class='thumbnail'>
                                    <a href='/projects/watchthisspace'>
                                        <img src='media/5.png'>
                                    </a>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class='thumbnail'>
                                <a href='/projects/watchthisspace'>
                                        <img src='media/6.png'>
                                    </a>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class='thumbnail'>
                                    <a href='/projects/watchthisspace'>
                                        <img src='media/7.png'>
                                    </a>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class='thumbnail'>
                                    <a href='/projects/watchthisspace'>
                                        <img src='media/8.png'>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </section>
            </div>
        </div>
    </body>
</html>
